@{
    ViewBag.Title = "About Us";
}
<hgroup>
    <h1 class="skew1">
        App Tour</h1>
    <script type="text/javascript">
        document.write('<h1 class="skew2">App Tour<\/h1>');
    </script>
    <h2 class="skew3">
        Projecto PESTI</h2>
    <script type="text/javascript">
        document.write('<h2 class="skew4">Projecto PESTI<\/h2>');
    </script>
</hgroup>
<p class="text-block skew5">
    Projecto de Estágio - App Tour - Realizado por Pedro Ferreira e Ricardo Carneiro
    - 2011/2012
</p>
