<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="GoogleMaps.LocationServices" version="0.9.5" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery" version="1.4.4" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.UI.Combined" version="1.8.19" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="Modernizr" version="1.7" />
  <package id="MvcCheckBoxList" version="1.4.2.3" />
  <package id="PagedList" version="1.14" />
  <package id="PagedList.Mvc" version="3.14" />
  <package id="Reimers.Core" version="5.3.95.699" />
  <package id="Reimers.Google.Map" version="5.3.95.699" />
  <package id="System.Web.Providers" version="1.1" />
  <package id="System.Web.Providers.Core" version="1.0" />
</packages>