<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AppTourEntities" connectionString="metadata=res://*/AppTourEntities.csdl|res://*/AppTourEntities.ssdl|res://*/AppTourEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APPTOUR\APPTOUR;initial catalog=AppTour;user id=sa;password=apptour123@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
