div.naviagator
{
    width: 100%; /* menu width */
    text-indent: 15px;
}

div.naviagator ul
{
    list-style-type: none; /* get rid of the bullets */
    padding: 0; /* no padding */
    margin: 0; /* no margin for IE either */
}

div.naviagator ul li
{
    display: block;
    border-top: 1px solid white; /* lines */
}

div.naviagator ul li a
{
    display: block; /* lines extend to right, make area clickable */
    color: Black;
    padding: 3px 3px 3px 23px;
    margin: 2px;
    text-decoration: none;
    vertical-align: middle;
    height: 17px; /* hint for IE, alternatively remove whitespace from HTML */
}

div.naviagator ul li a:hover
{
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background-color: #3399FF; /* rollover effect */
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: 20px center;
}
