<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="AppTourEntities" connectionString="metadata=res://*/AppTourEntities.csdl|res://*/AppTourEntities.ssdl|res://*/AppTourEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APPTOUR\APPTOUR;initial catalog=AppTour;user id=sa;password=apptour123@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<add name="DefaultConnection" connectionString="Data Source=APPTOUR\APPTOUR;Initial Catalog=AppTourMembership;User Id=sa;Password=apptour123@;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms cookieless="UseCookies" loginUrl="~/Account/LogOn" timeout="2880"/>
		</authentication>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider" connectionStringName="DefaultConnection" applicationName="/"/>
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="DefaultRoleProvider">
			<providers>
				<add connectionStringName="DefaultConnection" applicationName="/" name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider"/>
			</providers>
		</roleManager>
		<sessionState mode="Custom" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider" connectionStringName="DefaultConnection" applicationName="/"/>
			</providers>
		</sessionState>
		<compilation debug="true"/>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="httpBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false"/>
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint helpEnabled="true" automaticFormatSelectionEnabled="true"/>
			</webHttpEndpoint>
		</standardEndpoints>
		<services>
			<service name="AppTour.WebServices.WS.AppTourWS">
				<endpoint address="" behaviorConfiguration="httpBehavior" kind="webHttpEndpoint" binding="webHttpBinding" contract="AppTour.WebServices.WS.IAppTourWS"/>
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>